# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Password-Manager-Thing.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Reps\WebWrite\Password-Manager-Thing\.idea\.idea.Password-Manager-Thing.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
